body{
    background: #FFFFFF;
}
.container{
    display: grid;
    height: 100vh;
    border: 1px solid blue;
    

    grid-template-rows: auto 1fr auto;
    align-items: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.content__photo{
   grid-column: 2 /span 4;
   border: 1px solid red;
   
}
.content__photo img{
    /* width: 539.22px; */
    max-width: 100%;
    height: 414.55px;
}
.content__description{
    grid-column: 6 /span 4 ;
    border: 1px solid green;
}
