@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Montserrat:wght@100&family=Raleway:wght@200;500;600&family=Space+Mono:wght@400;700&display=swap');
body{
    background: #ffffff;
    
}
header{
    margin: 20px;
}
footer{
    margin: 0 auto;
    margin-bottom: 10px;
    color: #BDBDBD;
    line-height: 17.07px;

    font-weight: 700;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
span{
    font-family: 'Space Mono', monospace;
}
button{
    border: none;
    width: 216px;
    height: 68px;
    background: #333333;
    color:#FFFFFF ;
    position: absolute;
    bottom: 0;
}

.container{
    display: grid;
    height: 100vh;
   

    grid-template-rows: auto 1fr auto;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;

    column-gap: 70px;
}
.title{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    line-height: 25.18px;
}
.description__header{
  width: 590px;
  height: 190px;
}
.description__header h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 94.78px;
    font:bolder;
    font-family: 'Space Mono', monospace;
}
.description__content{
    width: 390px;
    font-weight: 10;
    font-size: 24px;
    font:small;
    line-height: 36px;
    letter-spacing: -0.03em;
}
.description__content p{
    font-weight: 200px;
    font-size: 24px;
    font-family: 'Space Mono', monospace;

}
.content__photo{
    margin-left: 25px;
}
.content__photo img{
    max-width: 100%;
    height: 447px;

}
.content__description{
    height: 447px;
    margin-right: 25px;
    position: relative;
}
.footer__username{
    text-decoration: underline;
    font-size: 16px;
    font:bold;
}

/**************** Media queries  *************************/

@media (max-width: 768px){
    .container{
        max-width: 600px;
        justify-items: center;
    }
    .content{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;

        margin-bottom: 40px;
    }
    .content__photo{
        align-items: center;
        max-width: 500px;
    }
    .content__description{
      max-width: 500px;
    }
    .description__header{
        width: 500px;
        height: 170px;
        margin-bottom: 20px;
    }
}

/**************** screen size 425 styles *************************/

@media (max-width: 425px){
    
    header{
        width: 160px;
        height: 25px;
    }

    button{
        position: absolute;
        bottom: 20%;
        left: 10px;
    }

    .description__header,
    .description__content {
        margin-left: 20px;
    }
   
    .content{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
        
    }

    .content__photo{
        width: 286px;
        height: 220px;
    }
    .content__photo img{
        width: 100%;
        height: 100%; 
        object-fit:contain;
    }
    .description__header{
        width: 350px;
        height: 142px;
        line-height: 20px;
    }
    .description__header h1{
        font-size: 40px;
        line-height: 55px;
    }
    .description__content{
        width: 328px;
        height: 81px;
    }
    .description__content p{
        font-weight: 400;
        font-size: 18px;
    
    }
}
